language: python
python: "2.7"
install:
  - mkdir -p buildout-cache/eggs
  - mkdir -p buildout-cache/downloads
  - python bootstrap.py -c travis.cfg
  - bin/buildout -c travis.cfg install download
  - bin/buildout -c travis.cfg install install
  - bin/buildout -N -t 3 -c travis.cfg
script: bin/test
